
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-bg:var(--light-bg);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.CurrentPage{
    text-decoration: underline #fff;
}

#caixa_logo{

    height: auto;
    position: absolute;
    padding: -1000px;
    box-shadow: 0.0.1rem 0.10rem #00000074;
    top: 0%;
    width: 6%;
    height: 7.2% ;

}
.caixa {

    box-shadow: 0 0.1rem 0.5rem #fefbfb;
    top: 0%;
    position: absolute;
    width: 94%;
    left:6%;
   
}

.navigation{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 51px;
    width: 95%;
    background: var(--dark);
    transition: all 4s;
    padding: 10px;
    
}

:root{ /*var shar*/ /* o root é um espaço especifico para se armazenar as variaveis criadas */
    --red:#f90000;
    --white:#ffffff;
    --dark:#000000;
    --gray: #746d6d86;
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}
body{
   color: var(--white);
    background: linear-gradient(to bottom, black 4%, red, #f20000d5 , black);
    min-height: 100vh;
    background-color: black; /* Fallback */
    min-height: 100vh;
}

.navigation .logo{
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--red);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.navigation ul li a{
    color: var(--red);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #891708
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),

.menu .bar:nth-child(3){
    background: var(--white);
}
.home{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: #620b00;
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #310909;
}
.home-img img{
    width: 100%; /* */
}

.All_FeedBack{

    width: 100%;
    color: var(--color-neutral-40);

    /*main*/
    .home{
        padding: 30px 10%;
        margin: 0;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}

.rodape{
    background: linear-gradient( to bottom black 100%);
    color: var(--color-neutral-0);
    padding: 1rem 0%;
    text-align: center;
    margin-top: 20px;
}

.rodape h2{
    color: var(--white);
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.rodape input, .rodape textarea, .rodape button{
    display: flex;
    width: 25%;
    margin: 0.5rem auto;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--gray);
}

.rodape button{
   background-color: var(--red);
   color: var(--white);
   cursor: pointer;
}

.rodape button:hover{
    background-color: #891708;
}
.about{
    font-family: "Roboto", serif;
    font-size: 1 rem;
   background: linear-gradient(90deg,#620b00,#000000);
    padding: 2.5rem 0.5rem;
    min-height: 100vh;
    overflow: hidden;
}
p{
    font-size: 1rem;
}
a,
a:hover{
    text-decoration: none;
    color: inherit;
}
.about-main{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.56rem;
}
.image{
    display: flex;
    width: 100%;
    gap: 1.56rem;
}
.about-img{
    width: 285px;
    height: 476px;
    overflow: hidden;

}
.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 600ms;
}

.about-img:hover img {
    transform: scale(1.2);
}
.about-img:last-child{
    margin-top: 104px;
}
.about-conteudo{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
    max-width: 380px;
}
.about-nome{
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 13px;
    position: relative;
    text-transform: uppercase;
}
.about-nome::after{
    content: "";
    position: absolute;
    top: 6px;
    right: -62px;
    width: 48px;
    height: 2px;
    background-color: var(--color-neutral-40);
}
.title{
    color: var(--white);
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 18px;
    text-transform: uppercase;

}
.title span{
    color: var(--red);
}
.subtitulo{
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 28px;
}
.about-paragrafo{
    font-weight: 400;
    margin-bottom: 45px;
    color: var(--color-neutral-40);
    line-height: 2rem;
}
.btn{
    font-weight: 500;
    font-size: 1.125rem;
    border: 2px solid var(--color-neutral-0);
    color: var(--dark);
    background-color: var(--red);
    padding: 0.75rem 2.125rem;
    transition: background 600ms, color 600ms;
}
.btn:hover{
    background-color: var(--dark);
    color: var(--red);
}
