/* style.css */

/* Estilos básicos adicionados por Membro 4 Matheus Schneider */
/* Membro 4 Matheus Schneider deve adicionar os estilos básicos aqui */

:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

/* Estilos detalhados para navegação e textos adicionados por Membro 5 Victor */
/* Membro 5 Victor deve adicionar os estilos detalhados aqui Abaixo *